stages:
  - install    # 1. 安裝依賴步驟
  - test       # 2. 單元測試
  - package    # 3. 構建 Go 二進制文件
  - deploy     # 4. 建構 Docker 鏡像與執行容器

.base-job-config: # 基底 job 可提供所有 job 繼承使用
  only:
    - main
  image: golang:1.21.10 # 各 job 基底 image
  tags:
    - backend
  before_script:
    - ls
  cache:
    key:
      files:
        - go.sum
        - go.mod
      prefix: service
    paths:
      - /go/pkg/mod
  interruptible: true # 如果有新的流水線產生，馬上中斷

##############################
#  以下定義 pipeline 具體細節
##############################

# install
install-job:
  stage: install
  extends: [.base-job-config]
  script:
    - go mod download

# test
test-job:
  stage: test
  extends: [.base-job-config]
  script:
    - go test ./...
  allow_failure: true
  cache:
    policy: pull #  cache should be pulled from the cache storage before the job starts.

# package
package-job:
  stage: package
  extends: [.base-job-config]
  script:
    - go build -o main .
  artifacts:
    paths:
      - main # build artifacts
  cache:
    policy: pull #  cache should be pulled from the cache storage before the job starts.

# deploy
deploy-job:
  stage: deploy
  extends: [.base-job-config]
  cache: [] # no need cache, it turn to artifacts
  variables:
    IMAGE_NAME: oauth
    APP_CONTAINER_NAME: oauth
  image: docker:latest # 基底改用 docker
  services:
    - docker:dind
  script:
    - docker build -t $IMAGE_NAME .
    - if [ "$(docker ps -aq --filter name=$APP_CONTAINER_NAME)" ]; then docker rm -f $APP_CONTAINER_NAME; fi # 刪除舊的容器
    - mkdir -p /path/on/host/logs # 準備 log 存放位置
    - docker run -d -p 5001:5000 --net=frizo-net --name $APP_CONTAINER_NAME -v /path/on/host/logs:/logs $IMAGE_NAME # 建立新容器並執行
